# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Streamlit 
# เราจะข้ามแค่ไฟล์ความลับ แต่เอา config.toml ขึ้นไปเพื่อคุมสีหน้าเว็บ
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files (ระวังไฟล์ข้อมูลส่วนตัว)
*.log
*.tmp
*.xlsx
*.pdf
*.png
# หมายเหตุ: ถ้ามีไฟล์โลโก้ หรือ Font ให้ระบุข้อยกเว้นไว้
!contech_logo.png
!THSarabunNew.ttf